
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.about {
    background-color: #1F2937;
    
}

.footer {
    background-color: #E5E7EB;
    text-align: center;
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.content {
    text-align: center;

}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.inside-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

    .content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 250px
        
    }

        .content-pic {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
.image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.header {
    display: flex;
    justify-content: space-around;
}

    .left-header {
        font-size: 24px;
        color:#f9faf8
    }

    
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 15px;
    }

        a {
            text-decoration: none;
            color: gray;
        }

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;

}

.about-para {
    font-size: 18px;
    color: #e5e7eb;
    
}

.testimonial {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: block;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.left-about {
   display: flexbox;
   flex-direction: column;
   height: 200px;
   width: 400px;
   margin: 0;
}